:root {
    --white: #fff;
    --black: #000;
    --dark-grey: #333333;
    --middle-grey: #4F4F4F;
    --light-grey: #828282;
    --accent: #F7DF94;
}

:global(html) {
    font-size: 24px;
  }

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: var(--black);
}

